.header{
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: #63B9F2;
    border: 10px solid black;
}

.nav{
    border-top: 1px solid black;
    background-color:#fff2f0;
    height: 55px;
    text-align: center;
}

.link{
    display: inline-block;
    text-align: center;
    width: 20%;
    text-decoration: none;
    background-color:#00C7C0;
    color: black;
    padding: 10px;
    border-radius: 100px;
    margin: 15px;
    box-shadow: 10px 2px #87C5C3;
}

.textResponse{
    width: 50%;
    margin: auto;
    font-size: 1.15em;
    text-align: center;
}

.tableResponse{
    width: 50;
    margin: auto;
    font-size: 1.15em;
    padding: 10px;

}